body{
font-family:sans-serif;
text-align:center;
background:#9fd3ff;
}

#game{
width:320px;
margin:auto;
display:grid;
grid-template-columns:repeat(3,1fr);
gap:10px;
}

.hole{
width:100px;
height:100px;
background:#654321;
border-radius:50%;
position:relative;
overflow:hidden;
}

.mole{
position:absolute;
bottom:-100px;
width:80px;
height:80px;
left:10px;
cursor:pointer;
transition:bottom .25s;
user-select:none;
}

.mole.up{
bottom:0;
}

.mole.hit{
transform:scale(0.8);
}
