body{
font-family:sans-serif;
text-align:center;
background:#bde0ff;
}

#game{
width:330px;
margin:auto;
display:grid;
grid-template-columns:repeat(3,1fr);
gap:10px;
}

.hole{
width:100px;
height:100px;
background:#5a3a1b;
border-radius:50%;
position:relative;
overflow:hidden;
}

.mole{
position:absolute;
bottom:-100px;
width:100%;
font-size:60px;
cursor:pointer;
transition:0.25s;
user-select:none;
}

.mole.up{ bottom:10px; }

.hit{ transform:scale(0.8); }
